<div class="row">
    <div class="col col-xl-12">

        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="title-card">
                            <h2><b>{{titulo}}</b></h2>
                        </div>
                        <div class="btn-card">
                            <a class="btn btn-success" (click)="displayModal = !displayModal;cancelTypeSubmit()"><i class="icon-plus"></i> <span>Letra</span></a>
                        </div>
                    </div>
                    <!-- <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Letra</th>
                                <th>Etiqueta</th>
                                <th>Estilo</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of letras">
                                <td>{{item.texto}}</td>
                                <td>
                                    {{item.etiqueta}}
                                </td>
                                <td>
                                    {{item.estilo}}
                                </td>
                                <td>
                                    <a class="edit" (click)="displayModal = !displayModal; addItem(item,'editar')"><i
                                            class="icon-pencil"></i></a> &nbsp;
                                    <a class="delete" (click)="showDialogAlert = ! showDialogAlert; addItem(item,'eliminar')"><i
                                            class="icon-bin"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->

                    <form [formGroup]="formGroupArray" (ngSubmit)="guardar()" novalidate>
                        <div formArrayName="letras">
                            <div class="group-letra" *ngFor="let item of getLetras.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                <input type="text" class="form-control input-letras" formControlName="letra" *ngIf="pointIndex !== 0">
                                <input type="text" class="form-control input-estilo" formControlName="estilo" *ngIf="pointIndex !== 0">
                                <input type="text" class="form-control input-etiqueta" formControlName="etiqueta" *ngIf="pointIndex !== 0">
                                <!-- <input type="text" class="form-control input-etiqueta" formControlName="id" *ngIf="typeSubmit == 'editar' && pointIndex !== 0" [hidden]="true"> -->

                            </div>

                            

                        </div>
                        <div class="botonesAccion">
                            <a class="btn btn-danger" (click)="eliminarinput()"><i class="icon-plus"></i> <span>Eliminar</span></a>
                            <a class="btn btn-success" (click)="agregarinput()"><i class="icon-plus"></i> <span>Agregar</span></a>
                        </div>
                        <div class="botonGuardar">
                            <button type="submit" class="btn btn-success">
                                <i class="icon-floppy-disk icoBntModal"></i>&nbsp;&nbsp;Guardar
                            </button>
                        </div>
                       
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

<app-dialog [(visible)]="displayModal">
    <div class="modal-content form">
        <div class="modal-header">
            <button (click)="displayModal = !displayModal;" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="icon-cross" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title custom_align" id="Heading">Tiempos Liturgicos</h4>
        </div>
        <div class="modal-body">
            <div class="card-block">
                <form [formGroup]="formGroup" (ngSubmit)="guardar()" novalidate>

                    <fieldset class="form-group">
                        <label>Letra</label>
                        <div class="input-group">
                            <span class="input-group-addon alignJustifyCenter">
                                <i class="icon-link icon-formulario"></i>
                            </span>
                            <input type="text" class="form-control" formControlName="texto" [class.is-invalid]="textoNoValido">

                        </div>
                        <span class="text-error-input-general-form" *ngIf="textoNoValido"> Este campo es requerido</span>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Etiqueta</label>
                        <div class="input-group">
                            <span class="input-group-addon alignJustifyCenter">
                                <i class="icon-link icon-formulario"></i>
                            </span>
                            <input type="text" class="form-control" formControlName="etiqueta" [class.is-invalid]="etiquetaNoValido">

                        </div>
                        <span class="text-error-input-general-form" *ngIf="etiquetaNoValido"> Este campo es requerido</span>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Estilo</label>
                        <div class="input-group">
                            <span class="input-group-addon alignJustifyCenter">
                                <i class="icon-link icon-formulario"></i>
                            </span>
                            <input type="text" class="form-control" formControlName="estilo" [class.is-invalid]="estiloNoValido">
                        </div>
                        <span class="text-error-input-general-form" *ngIf="estiloNoValido"> Este campo es requerido</span>
                    </fieldset>


                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="displayModal = !displayModal">
                            <i class="icon-floppy-disk icoBntModal"></i>&nbsp;&nbsp;Cancelar
                        </button>

                        <button type="submit" class="btn btn-success">
                            <i class="icon-floppy-disk icoBntModal"></i>&nbsp;&nbsp;Guardar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showDialogAlert">
    <div class="modal-content">
        <div class="modal-header">
            <button (click)="showDialogAlert = !showDialogAlert;" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="icon-cross" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title custom_align" id="Heading">Aviso</h4>
        </div>
        <div class="modal-body">
            <div class="card-block">
                <fieldset class="form-group">
                    <label>¿Está seguro de que desea eliminar el registro?</label>
                </fieldset>

                <div class="modal-footer">
                    <button (click)="showDialogAlert = !showDialogAlert;" type="button" class="btn btn-info">
                        <i class="icon-cross icoBntModal"></i>&nbsp;&nbsp;Cancelar
                    </button>

                    <button (click)="showDialogAlert = !showDialogAlert;confirmarEliminar()" type="submit" class="btn btn-danger">
                        <i class="icon-floppy-disk icoBntModal"></i>&nbsp;&nbsp;Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
</app-dialog>