table.table tr th:first-child {
    width: 50%;
}

.group-letra {
    display: flex;
    flex-direction: row;
}

.input-letras {
    width: 50%;
}

.input-etiqueta {
    width: 25%;
}

.input-estilo {
    width: 25%;
}
