<!--header area start-->
<header>
  <div class="left_area">
    <h3>Coresma <span>devder</span></h3>
  </div>
</header>
<!--header area end-->

<div class="contenido-login">
  <div class="main">
    <p class="sign" align="center">Sign in</p>
  
    <form class="form1" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  
  
      <div class="form-group">
        <input class="un " type="text" align="center" formControlName="username" id="inputUserName"
          [class.is-invalid]="userNameNoValido" placeholder="Username">
        <span class="text-error-input" *ngIf="userNameNoValido"> Este campo es requerido</span>
      </div>
  
      <div class="form-group">
        <input class="pass" type="password" align="center" formControlName="password" id="inputPassword"
          [class.is-invalid]="passwordNoValido" placeholder="Password">
        <span class="text-error-input" *ngIf="passwordNoValido"> Este campo es requerido</span>
      </div>
  
      <button type="submit" class="submit" calign="center">Acceder</button>
  
    </form>
  
  
  
  </div>
</div>

