<div class="contenido">
    <app-header></app-header>
    <input type="checkbox" id="check">
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
        <div class="nav_bar">
            <img src="../../assets/1.png" class="mobile_profile_image" alt="">
            <i class="icon-menu nav_btn" (click)="openMenuMovil()"></i>
        </div>
        <div class="mobile_nav_items">
            <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>

            <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="icon-map"></i>&nbsp;
                <span>Components</span>
            </a>

        </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
        <div class="profile_info">
            <img src="../../assets/1.png" class="profile_image" alt="">
            <h4>Jessica</h4>
        </div>
        <a [routerLink]="['/tiempos-liturgicos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="icon-map"></i>&nbsp;
            <span>Tiempos Liturgicos</span>
        </a>
    </div>
    <!--sidebar end-->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>